body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#B5CFB7;
    text-align: center;
}
.box{
    width: 350px;
    height: 450px;
    background: rgb(245, 243, 243);
    border-right-color: rgb(0, 0, 0) ;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.H{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}
.user{
    position: relative;
    margin-bottom: 40px;
    padding-right: 10px;
    border-radius: 20px;
    border:1px solid #ccc;
   text-align: center;
}
.user input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    color: #1b1919;
    font-size: 16px;
    padding-left: 10px;
}
.user label{
    position: absolute;
  top: 0;
  left: 0;
  color: #0f0e0e;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}
.H2
{
    text-align: center;
}
.login button {
    background: #2980b9;
    border: none;
    color:azure;
    font-weight: 300;
    /*padding: 40px 20px;*/
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    text-align: center;
    width: 90px;
  height: 40px;
     font-family: Arial, sans-serif;
    


  }
  .login button:hover{
    background-color:rgb(244, 176, 87);
  }
  .user input:focus ~ label,
.user input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #2980b9;
}